extends layout 

block content

  div.title-row
    h1= title 
    
  hr
  
  div.messages-container
    div.add-message
      if currentUser
        a(href='/add-message')
          button.btn-add-message Add Message
    for message in messages 
      div.message-container
        div.message-title #{message.title}
        div.message-info 
          if currentUser 
            div.message-username #{message.user.username}
          else 
            div.message-username ?????
   
          div.message-timestamp #{message.timestamp_formatted}
        div.message-body #{message.message_body}
