doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    h1= title 

    form(method='POST' action='')

      div.form-group 
        label(for='first_name') First Name: 
        input#first_name.form-control(
          type='text', placeholder='First Name', name='first_name', required='true',
          value=(first_name==undefined? '' : first_name)
        )

      div.form-group 
        label(for='last_name') Last Name: 
        input#last_name.form-control(
          type='text', placeholder='Last Name', name='last_name', required='true',
          value=(last_name==undefined? '' : last_name)
        )

      div.form-group 
        label(for='username') Username: 
        input#username.form-control(
          type='text', placeholder='Username', name='username', required='true'
          value=(username==undefined? '' : username)
        )
        if errors && errors.username
          div.input-error-msg 
            p #{errors.username}

      div.form-group 
        label(for='password') Password: 
        input#password.form-control(
          type='password', placeholder='Password', name='password', required='true'
        )
        if errors && errors.confirm_password
          div.input-error-msg 
            p #{errors.confirm_password}

      div.form-group 
        label(for='confirm_password') Confirm Password: 
        input#confirm_password.form-control(
          type='password', placeholder='Confirm Password', name='confirm_password', required='true'
        )
        if errors && errors.confirm_password
          div.input-error-msg 
            p #{errors.confirm_password}

      div.form-button-row
        button.btn.btn-primary(type='submit') Submit
        a.btn.btn-primary(href='/') Cancel
